<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="vs-buildservices" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-buildservices/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="dotnet-eng">
      <package pattern="MicroBuild.*" />
      <package pattern="Microsoft.*" />
      <package pattern="sn" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
      <package pattern="Wix" />
    </packageSource>
    <packageSource key="dotnet-public">
      <package pattern="AWSSDK.*" />
      <package pattern="Azure.*" />
      <package pattern="Castle.Core" />
      <package pattern="CommandLineParser" />
      <package pattern="coverlet.collector" />
      <package pattern="CredentialManagement" />
      <package pattern="DotNet.SleetLib" />
      <package pattern="FluentAssertions" />
      <package pattern="HandleBars.Net" />
      <package pattern="JetBrains.Annotations" />
      <package pattern="LibGit2Sharp" />
      <package pattern="LibGit2Sharp.NativeBinaries" />
      <package pattern="log4net" />
      <package pattern="LZMA-SDK" />
      <package pattern="McMaster.*" />
      <package pattern="MicroBuild.Core" />
      <package pattern="Microsoft.*" />
      <package pattern="Mono.Options" />
      <package pattern="Moq" />
      <package pattern="NETStandard.Library" />
      <package pattern="Newtonsoft*" />
      <package pattern="NuGet.*" />
      <package pattern="Octokit" />
      <package pattern="runtime.*" />
      <package pattern="SharpYaml" />
      <package pattern="System.*" />
      <package pattern="Validation" />
      <package pattern="vswhere" />
      <package pattern="WindowsAzure.Storage" />
      <package pattern="Wix" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="Microsoft.*" />
      <package pattern="NuGet.*" />
    </packageSource>
    <packageSource key="vs-buildservices">
      <package pattern="Microsoft.*" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
